@model BookListDto

@await Component.InvokeAsync("Genres")
<div class="row">
    @if (Model.Books.Count > 0)
    {
        @foreach (var book in Model.Books)
        {
            <div class="col-2">
                <div class="card mb-3">
                    <img src="@book.ImageUrl" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">@book.Title</h5>
                        <p class="card-text">
                            <span class="fw-bolder">Sayfa Sayısı :</span> @book.PageCount <br />
                            <span class="fw-bolder">Yazar :</span> @book.Author.Name @book.Author.Surname <br />
                            <span class="fw-bolder">Yayın Tarihi :</span> @book.PublishDate.ToShortDateString() <br />
                            <span class="fw-bolder">Tür :</span> @book.Genre.Name
                        </p>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            Kitap bulunamadı.
        </div>
    }
</div>